<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:form="http://xmlns.jcp.org/xml/ns/javaee" xmlns:from="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>AERO LINES</title>
</head>
<body>
<form method="get" accept-charset="utf-8">
    <div>
        <label for="city">search </label>
        <input name="city" id="city">
    </div>
</form>

<p th:text="${error}"></p>

<form method="get" accept-charset="utf-8">
    <select th:object="${airport}" name="icao">
        <option th:each="airport : ${airportsArray}" th:value="${airport.getIcao()}" th:text="${airport.getName()}"></option>

    </select>
    <input type="submit">
</form>


<table>
    <tr>
        <th>Time</th>
        <th>City</th>
        <th>Company</th>
        <th>Airplane</th>
        <th>Flight</th>
        <th>Status</th>
    </tr>
    <tbody id="myTable">
    </tbody>
</table>

<script>
    let jsonObj = "[[${finalJsonToHtml}]]"
    console.log(jsonObj);
    myJsonStr = jsonObj.replaceAll('&quot;', '\"');
    console.log(myJsonStr)
    myArray = JSON.parse(myJsonStr);
    console.log(myArray)
    buildTable(myArray)

    function buildTable(data) {
        var table = document.getElementById('myTable')
        for (var i = 0; i < data.length; i++) {
            var row = `<tr>
							<td>${data[i].time}</td>
							<td>${data[i].aeroport}</td>
							<td>${data[i].company}</td>
							<td>${data[i].aircraft}</td>
							<td>${data[i].number}</td>
							<td>${data[i].status}</td>
					  </tr>`
            table.innerHTML += row
        }
    }
</script>
</body>
</html>